# Visual Studio
.vs/

# .NET
**/bin/
**/obj/

# Secrets (local dev only)
**/appsettings.Development.json

# Angular
elrouken-aljamil-client/node_modules/
elrouken-aljamil-client/dist/
elrouken-aljamil-client/.angular/

# OS
Thumbs.db
.DS_Store
