<div class="header-wrapper">
  <header class="main-header container">
    <div class="logo"><a routerLink="/">ElroukenAljamil</a></div>
    <button class="btn-post" routerLink="/deposer"><i class="fa-solid fa-plus"></i> Déposer une annonce</button>
    <div class="search-container">
      <input type="text" placeholder="Rechercher sur ElroukenAljamil">
    </div>
    <nav class="user-nav">
      <a routerLink="/recherches" class="nav-item"><i class="fa-regular fa-bell"></i><span>Mes recherches</span></a>
      <a routerLink="/favoris" class="nav-item"><i class="fa-regular fa-heart"></i><span>Favoris</span></a>
      <a routerLink="/messages" class="nav-item"><i class="fa-regular fa-envelope"></i><span>Messages</span></a>
      <a routerLink="/login" class="nav-item"><i class="fa-regular fa-user"></i><span>Se connecter</span></a>
    </nav>
  </header>

  <nav class="category-nav-wrapper" (mouseleave)="activePanel = null">
    <div class="container">
      <ul class="cat-list">
      <li class="cat-item" (mouseenter)="activePanel = 'immobilier'">Immobilier
        <div class="dropdown-panel" *ngIf="activePanel === 'immobilier'">
          <div class="panel-inner container">
            <div class="panel-sidebar">
              <h4><i class="fa-solid fa-house"></i> Immobilier</h4>
              <div class="action-card"><i class="fa-solid fa-calculator"></i><span>Estimer votre bien</span></div>
              <div class="action-card"><i class="fa-solid fa-map-location-dot"></i><span>Rechercher par carte</span></div>
            </div>
            <div class="panel-columns">
              <div class="panel-column">
                <a class="col-title" routerLink="/immobilier">Tout Immobilier</a>
                <a class="sec-title" routerLink="/immobilier/ventes">Ventes immobilières</a>
                <ul>
                  <li><a routerLink="/immobilier/appartement">Appartement</a></li>
                  <li><a routerLink="/immobilier/maison">Maison</a></li>
                  <li><a routerLink="/immobilier/terrain">Terrain</a></li>
                  <li><a routerLink="/immobilier/ventes">Voir tout</a></li>
                </ul>
                <a class="sec-title" routerLink="/immobilier/neuf">Immobilier Neuf</a>
                <ul>
                  <li><a routerLink="/immobilier/neuf/appartement">Appartement</a></li>
                  <li><a routerLink="/immobilier/neuf/maison">Maison</a></li>
                  <li><a routerLink="/immobilier/neuf/programmes">Programme logement neufs</a></li>
                  <li><a routerLink="/immobilier/neuf/promoteurs">Promoteurs immobiliers</a></li>
                </ul>
              </div>
              <div class="panel-column">
                <a class="sec-title" routerLink="/immobilier/location">Locations</a>
                <ul>
                  <li><a routerLink="/immobilier/location/appartement">Appartement</a></li>
                  <li><a routerLink="/immobilier/location/maison">Maison</a></li>
                  <li><a routerLink="/immobilier/location/parking">Parking</a></li>
                  <li><a routerLink="/immobilier/location">Voir tout</a></li>
                </ul>
                <a class="sec-title" routerLink="/immobilier/colocation">Colocations</a>
                <a class="sec-title" routerLink="/immobilier/bureau-commerce">Bureau & Commerce</a>
                <a class="sec-title" routerLink="/immobilier/demenagement">Service de déménagement</a>
              </div>
            </div>
          </div>
        </div>
      </li>
      <li class="cat-item" (mouseenter)="activePanel = 'vehicules'">Véhicules
        <div class="dropdown-panel" *ngIf="activePanel === 'vehicules'">
          <div class="panel-inner container">
            <div class="panel-sidebar">
              <h4><i class="fa-solid fa-car"></i> Véhicules</h4>
              <div class="action-card"><i class="fa-solid fa-gauge-high"></i><span>Estimer votre véhicule</span></div>
              <div class="action-card"><i class="fa-solid fa-shield-halved"></i><span>Garantie véhicule</span></div>
            </div>
            <div class="panel-columns">
              <div class="panel-column">
                <a class="col-title" routerLink="/vehicules">Tout Véhicules</a>
                <a class="sec-title" routerLink="/vehicules/voitures">Voitures</a>
                <ul>
                  <li><a routerLink="/vehicules/voitures/audi">Audi</a></li>
                  <li><a routerLink="/vehicules/voitures/bmw">BMW</a></li>
                  <li><a routerLink="/vehicules/voitures/mercedes">Mercedes</a></li>
                  <li><a routerLink="/vehicules/voitures/peugeot">Peugeot</a></li>
                  <li><a routerLink="/vehicules/voitures/renault">Renault</a></li>
                  <li><a routerLink="/vehicules/voitures/volkswagen">Volkswagen</a></li>
                  <li><a routerLink="/vehicules/voitures">Voir toutes les marques</a></li>
                </ul>
                <a class="sec-title" routerLink="/vehicules/motos">Motos</a>
                <ul>
                  <li><a routerLink="/vehicules/motos/bmw">BMW</a></li>
                  <li><a routerLink="/vehicules/motos/honda">Honda</a></li>
                  <li><a routerLink="/vehicules/motos/kawasaki">Kawasaki</a></li>
                  <li><a routerLink="/vehicules/motos/suzuki">Suzuki</a></li>
                  <li><a routerLink="/vehicules/motos/yamaha">Yamaha</a></li>
                  <li><a routerLink="/vehicules/motos">Voir toutes les marques</a></li>
                </ul>
              </div>
              <div class="panel-column">
                <a class="sec-title" routerLink="/vehicules/caravaning">Caravaning</a>
                <a class="sec-title" routerLink="/vehicules/utilitaires">Utilitaires</a>
                <a class="sec-title" routerLink="/vehicules/camions">Camions</a>
                <a class="sec-title" routerLink="/vehicules/nautisme">Nautisme</a>
                <a class="sec-title" routerLink="/vehicules/velos">Vélos</a>
              </div>
              <div class="panel-column">
                <a class="sec-title" routerLink="/vehicules/equipement-auto">Équipement auto</a>
                <a class="sec-title" routerLink="/vehicules/equipement-moto">Équipement moto</a>
                <a class="sec-title" routerLink="/vehicules/equipement-caravaning">Équipement caravaning</a>
                <a class="sec-title" routerLink="/vehicules/equipement-nautisme">Équipement nautisme</a>
                <a class="sec-title" routerLink="/vehicules/equipements-velos">Équipements vélos</a>
                <a class="sec-title" routerLink="/vehicules/reparations">Services de réparations mécaniques</a>
              </div>
            </div>
          </div>
        </div>
      </li>
      <li class="cat-item" (mouseenter)="activePanel = 'vacances'">Vacances
        <div class="dropdown-panel" *ngIf="activePanel === 'vacances'">
          <div class="panel-inner container">
            <div class="panel-sidebar">
              <h4><i class="fa-solid fa-umbrella-beach"></i> Vacances</h4>
              <div class="action-card"><i class="fa-solid fa-sun"></i><span>Guide des destinations</span></div>
            </div>
            <div class="panel-columns">
              <div class="panel-column">
                <a class="col-title" routerLink="/vacances/locations">Tout Locations saisonnières</a>
                <span class="sec-title">Types d'hébergements</span>
                <ul>
                  <li><a routerLink="/vacances/maisons-villas">Maisons et villas</a></li>
                  <li><a routerLink="/vacances/appartements">Appartements</a></li>
                  <li><a routerLink="/vacances/chalets">Chalets</a></li>
                  <li><a routerLink="/vacances/chambres-hotes">Chambres d'hôtes</a></li>
                  <li><a routerLink="/vacances/campings">Campings</a></li>
                </ul>
              </div>
              <div class="panel-column">
                <span class="sec-title">Nombre de voyageurs</span>
                <ul>
                  <li><a routerLink="/vacances/solo">Solo</a></li>
                  <li><a routerLink="/vacances/a-deux">À deux</a></li>
                  <li><a routerLink="/vacances/a-quatre">À quatre</a></li>
                  <li><a routerLink="/vacances/a-six">À six</a></li>
                  <li><a routerLink="/vacances/plus-de-six">Plus de six</a></li>
                </ul>
              </div>
            </div>
          </div>
        </div>
      </li>
      <li class="cat-item" (mouseenter)="activePanel = 'emploi'">Emploi
        <div class="dropdown-panel" *ngIf="activePanel === 'emploi'">
          <div class="panel-inner container">
            <div class="panel-sidebar">
              <h4><i class="fa-solid fa-briefcase"></i> Emploi</h4>
              <div class="action-card"><i class="fa-solid fa-file-lines"></i><span>Créer votre CV</span></div>
            </div>
            <div class="panel-columns">
              <div class="panel-column">
                <a class="col-title" routerLink="/emploi">Tout Emploi</a>
                <a class="sec-title" routerLink="/emploi/offres">Offres d'emploi</a>
                <ul>
                  <li><a routerLink="/emploi/interim">Intérim</a></li>
                  <li><a routerLink="/emploi/cdi">CDI</a></li>
                  <li><a routerLink="/emploi/cdd">CDD</a></li>
                  <li><a routerLink="/emploi/benevolat">Bénévolat</a></li>
                  <li><a routerLink="/emploi/autre">Autre</a></li>
                </ul>
                <a class="sec-title" routerLink="/emploi/formations">Formations professionnelles</a>
                <a class="sec-title" routerLink="/emploi/profil">Profil Candidat</a>
              </div>
            </div>
          </div>
        </div>
      </li>
      <li class="cat-item" (mouseenter)="activePanel = 'mode'">Mode
        <div class="dropdown-panel" *ngIf="activePanel === 'mode'">
          <div class="panel-inner container">
            <div class="panel-sidebar">
              <h4><i class="fa-solid fa-shirt"></i> Mode</h4>
              <div class="action-card"><i class="fa-solid fa-tag"></i><span>Bons plans mode</span></div>
            </div>
            <div class="panel-columns">
              <div class="panel-column">
                <a class="col-title" routerLink="/mode">Tout Mode</a>
                <a class="sec-title" routerLink="/mode/vetements">Vêtements</a>
                <ul>
                  <li><a routerLink="/mode/vetements/femme">Femme</a></li>
                  <li><a routerLink="/mode/vetements/homme">Homme</a></li>
                  <li><a routerLink="/mode/vetements/enfant">Enfant</a></li>
                </ul>
                <a class="sec-title" routerLink="/mode/chaussures">Chaussures</a>
              </div>
              <div class="panel-column">
                <a class="sec-title" routerLink="/mode/montres-bijoux">Montres & Bijoux</a>
                <a class="sec-title" routerLink="/mode/accessoires">Accessoires & Bagagerie</a>
              </div>
            </div>
          </div>
        </div>
      </li>
      <li class="cat-item" (mouseenter)="activePanel = 'maison-jardin'">Maison & Jardin
        <div class="dropdown-panel" *ngIf="activePanel === 'maison-jardin'">
          <div class="panel-inner container">
            <div class="panel-sidebar">
              <h4><i class="fa-solid fa-couch"></i> Maison & Jardin</h4>
              <div class="action-card"><i class="fa-solid fa-paint-roller"></i><span>Idées déco</span></div>
            </div>
            <div class="panel-columns">
              <div class="panel-column">
                <a class="col-title" routerLink="/maison-jardin">Tout Maison & Jardin</a>
                <a class="sec-title" routerLink="/maison-jardin/ameublement">Ameublement</a>
                <a class="sec-title" routerLink="/maison-jardin/electromenager">Électroménager</a>
              </div>
              <div class="panel-column">
                <a class="sec-title" routerLink="/maison-jardin/decoration">Décoration</a>
                <a class="sec-title" routerLink="/maison-jardin/bricolage">Bricolage</a>
                <a class="sec-title" routerLink="/maison-jardin/jardin-plantes">Jardin & Plantes</a>
              </div>
            </div>
          </div>
        </div>
      </li>
      <li class="cat-item" (mouseenter)="activePanel = 'famille'">Famille
        <div class="dropdown-panel" *ngIf="activePanel === 'famille'">
          <div class="panel-inner container">
            <div class="panel-sidebar">
              <h4><i class="fa-solid fa-baby"></i> Famille</h4>
              <div class="action-card"><i class="fa-solid fa-hand-holding-heart"></i><span>Conseils parents</span></div>
            </div>
            <div class="panel-columns">
              <div class="panel-column">
                <a class="col-title" routerLink="/famille">Tout Famille</a>
                <a class="sec-title" routerLink="/famille/equipement-bebe">Équipement bébé</a>
                <a class="sec-title" routerLink="/famille/vetements-bebe">Vêtements bébé</a>
              </div>
              <div class="panel-column">
                <a class="sec-title" routerLink="/famille/jeux-jouets">Jeux & Jouets</a>
                <a class="sec-title" routerLink="/famille/baby-sitting">Baby-Sitting</a>
              </div>
            </div>
          </div>
        </div>
      </li>
      <li class="cat-item" (mouseenter)="activePanel = 'electronique'">Électronique
        <div class="dropdown-panel" *ngIf="activePanel === 'electronique'">
          <div class="panel-inner container">
            <div class="panel-sidebar">
              <h4><i class="fa-solid fa-mobile-screen"></i> Électronique</h4>
              <div class="action-card"><i class="fa-solid fa-recycle"></i><span>Reconditionné certifié</span></div>
            </div>
            <div class="panel-columns">
              <div class="panel-column">
                <a class="col-title" routerLink="/electronique">Tout Électronique</a>
                <a class="sec-title" routerLink="/electronique/ordinateurs">Ordinateurs</a>
                <a class="sec-title" routerLink="/electronique/telephones">Téléphones & Objets connectés</a>
              </div>
              <div class="panel-column">
                <a class="sec-title" routerLink="/electronique/consoles">Consoles</a>
                <a class="sec-title" routerLink="/electronique/jeux-video">Jeux vidéo</a>
                <a class="sec-title" routerLink="/electronique/reparations">Services de réparations</a>
              </div>
            </div>
          </div>
        </div>
      </li>
      <li class="cat-item" (mouseenter)="activePanel = 'loisirs'">Loisirs
        <div class="dropdown-panel" *ngIf="activePanel === 'loisirs'">
          <div class="panel-inner container">
            <div class="panel-sidebar">
              <h4><i class="fa-solid fa-futbol"></i> Loisirs</h4>
              <div class="action-card"><i class="fa-solid fa-ticket"></i><span>Évènements près de chez vous</span></div>
            </div>
            <div class="panel-columns">
              <div class="panel-column">
                <a class="col-title" routerLink="/loisirs">Tout Loisirs</a>
                <a class="sec-title" routerLink="/loisirs/sport-plein-air">Sport & Plein air</a>
                <a class="sec-title" routerLink="/loisirs/velos">Vélos</a>
              </div>
              <div class="panel-column">
                <a class="sec-title" routerLink="/loisirs/jeux-jouets">Jeux & Jouets</a>
                <a class="sec-title" routerLink="/loisirs/livres">Livres</a>
                <a class="sec-title" routerLink="/loisirs/instruments-musique">Instruments de musique</a>
              </div>
            </div>
          </div>
        </div>
      </li>
      <li class="cat-item" (mouseenter)="activePanel = 'autre'">Autres
        <div class="dropdown-panel" *ngIf="activePanel === 'autre'">
          <div class="panel-inner container">
            <div class="panel-sidebar">
              <h4><i class="fa-solid fa-ellipsis"></i> Autres</h4>
              <div class="action-card"><i class="fa-solid fa-handshake"></i><span>Services entre particuliers</span></div>
            </div>
            <div class="panel-columns">
              <div class="panel-column">
                <a class="sec-title" routerLink="/autre/materiel-professionnel">Matériel professionnel</a>
                <a class="sec-title" routerLink="/autre/services">Services</a>
              </div>
              <div class="panel-column">
                <a class="sec-title" routerLink="/autre/animaux">Animaux</a>
                <a class="sec-title" routerLink="/autre/dons">Dons</a>
                <a class="sec-title" routerLink="/autre/autres">Autres</a>
              </div>
            </div>
          </div>
        </div>
      </li>
      <li class="cat-item special"><a routerLink="/bons-plans">Bons plans !</a></li>
      </ul>
    </div>
  </nav>
</div>
